* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(232, 238, 238);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.input-container {
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;

}

.input-container input {
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;

}

.input-container input[type="text"] {
    width: 70%;
}

.input-container input[type="button"] {
    background-color: #3da33d;
    color: #fff;
    margin-left: 8px;
    font-weight: 700;
    cursor: pointer;
    padding: 12px;


}

.input-container input[type="button"]:hover {
    background-color: #60b160;
}

ul {
    width: 100%;
    max-width: 450px;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

ul li {
    list-style: none;
    cursor: pointer;
    border: 0.125px solid #a19f9f;
    border-radius: 8px;
    margin-block-end: 12px;
    padding: 6px 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s;
}

ul li:hover {
    background-color: #cbcaca;
}

ul li p {
    flex-grow: 1;
    padding: 2px;

}

.btn {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: none;
    padding: 8px;
}

.deleteBtn {
    color: #ff0000;
}

.editBtn {
    color: #008000;
}